appdirs==1.4.4
audioread==2.1.9
bcrypt==3.2.0
beautifulsoup4==4.11.1
blis==0.7.7
cachelib==0.6.0
cachetools==5.2.0
catalogue==2.0.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==7.1.2
colorama==0.4.4
comtypes==1.1.10
cycler==0.11.0
cymem==2.0.6
decorator==5.1.1
Deprecated==1.2.13
dnspython==2.2.0
docopt==0.6.2
et-xmlfile==1.1.0
ffmpeg-python==0.2.0
Flask==2.0.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.10
Flask-Jsonpify==1.5.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
fonttools==4.33.3
future==0.18.2
fuzzywuzzy==0.18.0
google-api-core==2.8.2
google-auth==2.8.0
google-cloud-speech==2.14.1
googleapis-common-protos==1.56.2
greenlet==1.1.2
grpcio==1.46.3
grpcio-status==1.46.3
idna==3.3
imutils==0.5.4
inputimeout==1.0.4
is-disposable-email==1.0.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
Js2Py==0.71
kiwisolver==1.4.2
langcodes==3.3.0
librosa==0.9.1
llvmlite==0.38.1
MarkupSafe==2.0.1
matplotlib==3.5.2
murmurhash==1.0.7
nltk==3.6.7
numba==0.55.2
numpy==1.22.2
opencv-python==4.5.5.62
openpyxl==3.0.9
opuslib==3.0.1
packaging==21.3
pandas==1.4.0
pathy==0.6.1
Pillow==9.1.1
pipwin==0.5.2
pooch==1.6.0
preshed==3.0.6
proto-plus==1.20.6
protobuf==3.20.1
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/shiva/pipwin/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pycparser==2.21
pydantic==1.8.2
pydub==0.25.1
pydub-stubs==0.25.1.0
pyjsparser==2.7.1
pyparsing==3.0.7
pypiwin32==223
PyPrind==2.11.3
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
pyqt5-tools==5.15.4.3.2
pySmartDL==1.3.4
python-dateutil==2.8.2
python-dotenv==0.20.0
python-Levenshtein-wheels==0.13.2
pyttsx3==2.90
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==303
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
redis==4.1.4
regex==2022.1.18
requests==2.27.1
resampy==0.2.2
rsa==4.8
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
six==1.16.0
smart-open==5.2.1
sounddevice==0.4.4
SoundFile==0.10.3.post1
soupsieve==2.3.2.post1
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
SpeechRecognition==3.8.1
SQLAlchemy==1.4.31
srsly==2.4.3
srt==3.5.2
thinc==8.0.17
threadpoolctl==3.1.0
torch==1.10.2
tqdm==4.62.3
typer==0.4.1
typing_extensions==4.0.1
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.8
vosk==0.3.42
wasabi==0.9.1
Wave==0.0.2
Werkzeug==2.0.2
wrapt==1.13.3
WTForms==3.0.1
wtforms-validators==1.0.0
